nav {
    display: inline-flex;
    margin: 0px;
    padding: 15px 10px 15px 10px !important;
    background: whitegrey;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 5px 1px rgba(14, 12, 12, 0.637);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler span {
    color: white;
    transition: all .3s ease-in-out;
}
.navbar-toggler span:hover {
    color: rgb(202, 146, 62);
}
.navbar-brand img {
    width: 150px;
    position: absolute;
    margin-left: 10px;
    border-radius: 5px;
    left: 73px;
    top: 18px;
}
/*.navbar-brand span {
    color: rgb(75, 194, 75);
    font-weight: bolder;
}*/
.navbar-brand:hover {
    color: black;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.sign-in:hover {
    text-decoration: none;
    color: rgb(202, 146, 62);
}
.sign-in {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 25px;
    background: black;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    transition: all .3s ease-in-out;
}
.nav-item {
    margin-top: 12px;
    margin-bottom: 5px;
}
.app-advert {
    margin-bottom: 7px;
}
.app-advert, .nav-item {
    color: white;
    margin-left: 24px;
}
/*Media query*/
@media screen and (max-width: 468px) {
    nav {
        /* border: 1px solid white;z62 */
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .sign-in {
        margin-right: 20px;
    }
}