.signin {
    padding: 34px;
    background: url(../images/1278235-darkened.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.signin-div {
    width: 40%;
    color: white;
    padding: 30px 50px 30px 50px;
    background: whitegrey;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px 1px rgba(14, 12, 12, 0.637);
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 50px;
}
.signin h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.form-div {
    display: flex;
    justify-content: center;
}
.form-div form {
    width: 100%;
    text-align: center;
    font-size: small;
}
.form-div form input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 9px 9px 9px 15px;
    border-radius: 5px;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}
.form-div form input::placeholder {
    font-size: small;
    color: grey;
}
.form-div form input:focus {
    transition: all .3s ease-in-out;
    border: 1px solid rgb(202, 146, 62);
    outline: none;
}
.form-div form button {
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    transition: all .3s ease-in-out
}
.form-div form button:hover {
    transition: all .3s ease-in-out;
    color: rgb(202, 146, 62);
}
.form-div form a {
    color: rgb(202, 146, 62);
    text-decoration: none;
}
/*Media query*/
@media screen and (max-width: 1075px) {
    .signin-div {
        width: 40%;
    }
}
@media screen and (max-width: 1011px) {
    .signin-div {
        width: 45%;
    }
}
@media screen and (max-width: 955px) {
    .signin-div {
        width: 50%;
    }
}
@media screen and (max-width: 855px) {
    .signin-div {
        width: 60%;
    }
}
@media screen and (max-width: 755px) {
    .signin-div {
        width: 70%;
    }
}
@media screen and (max-width: 667px) {
    .signin-div {
        width: 75%;
    }
}
@media screen and (max-width: 571px) {
    .signin-div {
        width: 85%;
    }
}
@media screen and (max-width: 500px) {
    .signin-div {
        width: 95%;
    }
}
@media screen and (max-width: 469px) {
    .signin {
        padding: 34px 0px 34px 0px;
    }
    .signin-div {
        margin: 70px 20px 0px 20px;
        padding: 20px 30px 10px 30px;
    }
}